.idea
**__pycache__
.coverage
artifacts
artifacts-*/
benchmark-results.csv
mypy.xml
pylint.xml
builder.yml
builder.yml.bak
test.py
builder.lock
**.exe
**.msi

# Node/React exclusions
node_modules/
dist/
dist-ssr/
*.local
.env
.env.*
.eslintcache
.vite/
.output/
.nuxt/
.next/
.cache/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Python exclusions
*.pyc
*.pyo
*.pyd
.pytest_cache/
.tox/
.nox/
.coverage
.cache
nosetests.xml
coverage.xml
htmlcov/
